@import "tailwindcss";

/* Inter font */
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/InterVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Apply globally */
@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
    text-rendering: optimizeLegibility;
    scrollbar-width: none; /* Firefox */
  }

  html::-webkit-scrollbar {
    /* Chrome, Safari, Edge */
    display: none;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    font-weight: 400;
  }

  code {
    font-size: 12px;
    display: inline-block;
    background-color: rgb(235, 235, 235);
    border: 1px dashed rgb(199, 199, 199);
    border-radius: 5px;
    padding: 2px 4px;
  }

  /* Video demo */
  .overlay {
    position: fixed;
    inset: 0;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }

  .hidden {
    display: none;
  }

  video {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
  }

  .close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 32px;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
  }
}
